<hr>
<h1>Transacciones Component</h1>

<!-- 

<ol>

  @for (transaccion of transacciones; track transaccion.id) {
  <li>
    {{transaccion.fecha |date:'EEEE, dd \'de\' MMMM \'de\' yyyy'}} - {{transaccion.descripcion}} - {{transaccion.monto}}
    -
    <span [ngClass]="transaccion.tipo === 'Ingreso' ? 'verde' : 'rojo'">{{transaccion.tipo}}</span>

  </li>
  }

</ol>

<div class="form-floating mb-5 w-25">
  <input [(ngModel)]="descripcionTransaccion" type="text" class="form-control" id="floatingInput"
    placeholder="name@example.com">
  <label for="floatingInput">Descripción Transacción</label>
</div>

<button (click)="showTransaccion()" type="button" class="btn btn-primary">Mostrar transsación:</button>
-->
<button (click)="enviarSaludo()" >Enviar Saludo</button>
<hr>