<div class="card m-4" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><strong>{{name}}</strong></h5>
        <p class="card-text">{{profession}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Edad: </strong>{{age}}</li>
        <li class="list-group-item"><strong>Dirección: </strong>{{address}}</li>
        <li class="list-group-item"><strong>Teléfono: </strong> {{phone}}</li>
    </ul>

</div>

<app-cuenta [nombreCliente]="nombrecliente"></app-cuenta>
<app-transacciones (mensajeEnviado)="recibirMensaje($event)" ></app-transacciones>