<div class="card m-4" style="width: 18rem;">
    <img src="https://static.vecteezy.com/system/resources/previews/034/460/550/original/profile-icon-illustration-for-uiux-web-app-infographic-etc-vector.jpg"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><strong>Andres Israel</strong></h5>
        <p class="card-text">Desarrollador de Software</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Edad:</strong> 26 años</li>
        <li class="list-group-item"><strong>Dirección:</strong> Guayas, Mialgro</li>
        <li class="list-group-item"><strong>Teléfono:</strong> 1234567890</li>
    </ul>

</div>